* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Roboto, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #c4c6c6;
}

.header {
    padding: 2rem;
    background-color: #f5f7f7;
    text-align: center;
    box-shadow: 0 2px 2px 1px rgb(208 208 208);
}

.add-button {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button button {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 2rem;
    border-color: transparent;
}
.add-button button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#dialog {
    margin: auto;
    padding: 3rem;
    border: 3px solid red;
    border-radius: 2rem;
}

#dialog form {
    display: flex;
    flex-direction: column;
}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    font-size: 1.5rem;
}
.form-field input {
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.form-field input[type='checkbox'] {
    transform: scale(1.5);
    margin-left: 1rem;
}

form button {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    width: 50%;
    align-self: center;
    border-radius: 2rem;
    margin: 1rem;
    background-color: #ebebeb;
}

form button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.book-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
}

.book-card {
    height: 300px;
    padding: 2rem;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.book-card input[type='checkbox'] {
    transform: scale(1.8);
}

.remove-button {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    border: 2px solid black;
    border-radius: 2rem;
    background-color: #d58787;
    width: 50%;
    align-self: center;
}

.remove-button:hover {
    cursor: pointer;
}

.remove-button:active {
    background-color: red;
}
