* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Roboto, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #c4c6c6;
}

.header {
    padding: 2rem;
    background-color: #f5f7f7;
    text-align: center;
    box-shadow: 0 2px 2px 1px rgb(208 208 208);
}

.add-button {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button button {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 2rem;
    border-color: transparent;
}
.add-button button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
